<details><summary style="display:list-item; font-size:16px; color:blue;">Jupyter Help</summary>
    
Having trouble testing your work? Double-check that you have followed the steps below to write, run, save, and test your code!
    
[Click here for a walkthrough GIF of the steps below](https://static-assets.codecademy.com/Courses/ds-python/jupyter-help.gif)

Run all initial cells to import libraries and datasets. Then follow these steps for each question:
    
1. Add your solution to the cell with `## YOUR SOLUTION HERE ## `.
2. Run the cell by selecting the `Run` button or the `Shift`+`Enter` keys.
3. Save your work by selecting the `Save` button, the `command`+`s` keys (Mac), or `control`+`s` keys (Windows).
4. Select the `Test Work` button at the bottom left to test your work.

![Screenshot of the buttons at the top of a Jupyter Notebook. The Run and Save buttons are highlighted](https://static-assets.codecademy.com/Paths/ds-python/jupyter-buttons.png)

Setup.

In [1]:
import pandas as pd

rides = pd.read_csv('amusementpark_4.csv')
rides.head()

  Ride_ID                Ride_Name      Ride_Type       Location  Total_Riders
0    E000  Flying with Bald Eagles     SIMULATION  NORTH AMERICA       6525831
1    E001     Grand Canyon Coaster  ROLLERCOASTER  NORTH AMERICA       8039490
2    E002         Bouldering Bison      FLAT RIDE  NORTH AMERICA       7075161
3    E003   Swimming with Manatees     WATER RIDE  NORTH AMERICA       6959417
4    E004     Grizzly Bear Fishing     WATER RIDE  NORTH AMERICA       6504358

1. Run the `Setup` cell to import libraries and datasets.

We've defined a variable `column` in the first cell below. Run that cell now. 

In the following cell, we've written an `if` statement. This statement is supposed to check if `rides[column]` is an object, and if so lowercases it. But we've made a mistake! Can you fix our mistake?

Make sure to run your solution and then save the notebook before selecting `Test Work`!

In [2]:
column = 'Ride_Name'

In [3]:
## YOUR SOLUTION HERE ##
if rides[column].dtype == 'object':
    rides[column] = rides[column].str.lower()

rides.head()

  Ride_ID                Ride_Name      Ride_Type       Location  Total_Riders
0    E000  flying with bald eagles     SIMULATION  NORTH AMERICA       6525831
1    E001     grand canyon coaster  ROLLERCOASTER  NORTH AMERICA       8039490
2    E002         bouldering bison      FLAT RIDE  NORTH AMERICA       7075161
3    E003   swimming with manatees     WATER RIDE  NORTH AMERICA       6959417
4    E004     grizzly bear fishing     WATER RIDE  NORTH AMERICA       6504358

2. Let's make the large numbers in `Total_Riders` more readable by dividing them by `1000`.

Once again, start by running the cell directly below to define the `column` variable. In the following cell, add an `elif` statement that checks if `rides[column].dtype` is `'int64'`. If it is, the code `rides[column] = rides[column] / 1000` should run.

Make sure to run your solution and then save the notebook before selecting `Test Work`!

In [4]:
column = 'Total_Riders'

In [6]:
if rides[column].dtype == 'float64':
    rides[column] = rides[column].round(decimals=2)
## YOUR SOLUTION HERE ##
elif rides[column].dtype == 'int64':
    rides[column] = rides[column] / 1000
# show output
rides.head()

  Ride_ID                Ride_Name      Ride_Type       Location  Total_Riders
0    E000  flying with bald eagles     SIMULATION  NORTH AMERICA      6525.831
1    E001     grand canyon coaster  ROLLERCOASTER  NORTH AMERICA      8039.490
2    E002         bouldering bison      FLAT RIDE  NORTH AMERICA      7075.161
3    E003   swimming with manatees     WATER RIDE  NORTH AMERICA      6959.417
4    E004     grizzly bear fishing     WATER RIDE  NORTH AMERICA      6504.358

3. We've defined a variable `total_riders` in the cell below. Run that cell first. In the following cell, write an `if/elif/else` statement:
- if `total_riders` is below `20000`, define a variable `pop = 'unpopular'`
- elif `total_riders` is below `100000`, define a variable `pop = 'popular'`
- otherwise, define a variable `pop = 'superpopular'`

Make sure to run your solution and then save the notebook before selecting `Test Work`!

In [8]:
total_riders = 100

In [9]:
## YOUR SOLUTION HERE ##
if total_riders < 20000:
    pop = 'unpopular'
elif total_riders < 100000:
    pop = 'popular'
else:
    pop = 'superpopular'
    
# show output
pop

'unpopular'