<details><summary style="display:list-item; font-size:16px; color:blue;">Jupyter Help</summary>
    
Having trouble testing your work? Double-check that you have followed the steps below to write, run, save, and test your code!
    
[Click here for a walkthrough GIF of the steps below](https://static-assets.codecademy.com/Courses/ds-python/jupyter-help.gif)

Run all initial cells to import libraries and datasets. Then follow these steps for each question:
    
1. Add your solution to the cell with `## YOUR SOLUTION HERE ## `.
2. Run the cell by selecting the `Run` button or the `Shift`+`Enter` keys.
3. Save your work by selecting the `Save` button, the `command`+`s` keys (Mac), or `control`+`s` keys (Windows).
4. Select the `Test Work` button at the bottom left to test your work.

![Screenshot of the buttons at the top of a Jupyter Notebook. The Run and Save buttons are highlighted](https://static-assets.codecademy.com/Paths/ds-python/jupyter-buttons.png)

Setup.

In [1]:
import pandas as pd

rides = pd.read_csv('amusementpark_4.csv')

rides.head()

  Ride_ID                Ride_Name      Ride_Type       Location  Total_Riders
0    E000  Flying with Bald Eagles     SIMULATION  NORTH AMERICA       6525831
1    E001     Grand Canyon Coaster  ROLLERCOASTER  NORTH AMERICA       8039490
2    E002         Bouldering Bison      FLAT RIDE  NORTH AMERICA       7075161
3    E003   Swimming with Manatees     WATER RIDE  NORTH AMERICA       6959417
4    E004     Grizzly Bear Fishing     WATER RIDE  NORTH AMERICA       6504358

1. Run the `Setup` cell to import libraries and datasets. 

In the cell directly below, we've defined a list of text columns. Run this cell first. In the following cell, write a for loop that uses the list to strip leading and trailing whitespace from each column (use `.str.strip()`).

Make sure to run your solution and then save the notebook before selecting `Test Work`!

In [2]:
columns = ['Ride_Name','Ride_Type', 'Location']

In [3]:
## YOUR SOLUTION HERE ##
for col in columns:
    rides[col] = rides[col].str.strip()

2. We've written a loop to print the numbers from 1 to 5. But we've made a mistake -- if you run the cell, you'll get the entire list printed five times. Can you fix our mistake?

Make sure to run your solution and then save the notebook before selecting `Test Work`!

In [5]:
## YOUR SOLUTION HERE ##
numbers = [1,2,3,4,5]

for num in numbers:
    print(num)

1
2
3
4
5

3. We've written code to print out a list of ride types. Modify the list so that `flat ride` prints out first, `rollercoaster` second, and `water ride` third.

Make sure to run your solution and then save the notebook before selecting `Test Work`!

In [6]:
## YOUR SOLUTION HERE ##
rides = ['flat ride','rollercoaster','water ride']

for ride in rides:
    print(ride)

flat ride
rollercoaster
water ride