<details><summary style="display:list-item; font-size:16px; color:blue;">Jupyter Help</summary>
    
Having trouble testing your work? Double-check that you have followed the steps below to write, run, save, and test your code!
    
[Click here for a walkthrough GIF of the steps below](https://static-assets.codecademy.com/Courses/ds-python/jupyter-help.gif)

Run all initial cells to import libraries and datasets. Then follow these steps for each question:
    
1. Add your solution to the cell with `## YOUR SOLUTION HERE ## `.
2. Run the cell by selecting the `Run` button or the `Shift`+`Enter` keys.
3. Save your work by selecting the `Save` button, the `command`+`s` keys (Mac), or `control`+`s` keys (Windows).
4. Select the `Test Work` button at the bottom left to test your work.

![Screenshot of the buttons at the top of a Jupyter Notebook. The Run and Save buttons are highlighted](https://static-assets.codecademy.com/Paths/ds-python/jupyter-buttons.png)

Setup

In [1]:
import pandas as pd

rides = pd.read_csv('amusementpark_4.csv')
rides.head()

  Ride_ID                Ride_Name      Ride_Type       Location  Total_Riders
0    E000  Flying with Bald Eagles     SIMULATION  NORTH AMERICA       6525831
1    E001     Grand Canyon Coaster  ROLLERCOASTER  NORTH AMERICA       8039490
2    E002         Bouldering Bison      FLAT RIDE  NORTH AMERICA       7075161
3    E003   Swimming with Manatees     WATER RIDE  NORTH AMERICA       6959417
4    E004     Grizzly Bear Fishing     WATER RIDE  NORTH AMERICA       6504358

1. Run the `Setup` cell to import libraries and datasets.

We've written a loop that loops through all the columns of `rides`. For object columns, our code strips leading and trailing whitespace. For `'int64'` columns, our code converts the column to `'float64'`. We've forgotten to include the proper indentation -- can you fix our mistake?

Make sure to run your solution and then save the notebook before selecting `Test Work`!

In [3]:
## YOUR SOLUTION HERE ##
for col in rides.columns:
    if rides[col].dtype == 'object':
        rides[col] = rides[col].str.strip()
    elif rides[col].dtype == 'int64':
        rides[col] = rides[col].astype('float64')

2. Write a `for` loop that loops over the list `columns`. Each iteration, the loop should:

- check if the column has `int64` data type. If so, print the `mean` of the column
- elif, check that the column has `float64` data type. If so, print the `mean` of the column
- else, print the `mode` of the column

Make sure to run your solution and then save the notebook before selecting `Test Work`!

In [5]:
columns = ['Ride_Type','Location','Total_Riders']

## YOUR SOLUTION HERE #
for col in columns:
    if rides[col].dtype == 'int64':
        print(rides[col].mean())
        print('----------')
    elif rides[col].dtype == 'float64':
        print(rides[col].mean())
        print('----------')
    else:
        print(rides[col].mode())
        print('----------')

0    ROLLERCOASTER
Name: Ride_Type, dtype: object
----------
0    NORTH AMERICA
Name: Location, dtype: object
----------
7088815.838709678
----------

3. We've written a loop to lowercase every column in `rides`. Update our loop using `continue` and `break` to:

- skip `Ride_ID`, leaving it uppercase
- end the loop after lowercasing `Ride_Type`

Make sure to run your solution and then save the notebook before selecting `Test Work`!

In [14]:
for col in rides.columns:
    if col == 'Ride_ID':
        continue  # dejar Ride_ID sin cambios
    rides[col] = rides[col].str.lower()  # convertir a minúsculas
    if col == 'Ride_Type':
        break  # detener el loop después de Ride_Type

#show output

rides.head()

  Ride_ID                Ride_Name      Ride_Type       Location  Total_Riders
0    E000  flying with bald eagles     simulation  north america     6525831.0
1    E001     grand canyon coaster  rollercoaster  north america     8039490.0
2    E002         bouldering bison      flat ride  north america     7075161.0
3    E003   swimming with manatees     water ride  north america     6959417.0
4    E004     grizzly bear fishing     water ride  north america     6504358.0