**Setup**

Start by running the cell below to import `pandas` and import the exercise datasets.

In [1]:
import pandas as pd
csat = pd.read_csv('csat.csv')
csat.head()

,review_id,current_plan_start,days_subscribed,date_reviewed,pay_freq,level,rating,first_level
0,38538,2022-08-29,229,2023-04-15,Yearly,Premium,2,Free
1,78458,2022-04-11,279,2023-01-15,NaN,Free,5,Standard
2,16139,2022-01-19,422,2023-03-17,NaN,Free,3,Premium
3,88142,2022-02-26,454,2023-05-26,Yearly,Standard,3,Standard
4,21901,2022-05-27,84,2022-08-19,NaN,Free,4,Premium

**1. Calling `preview`**

We've placed the code for the `preview` function below. Call `preview` to display the first 7 rows of the DataFrame `csat`.

In [4]:
def preview(df,n):
    rows = df[:n]
    return rows

## YOUR SOLUTION HERE ##
preview(csat, 7)

,review_id,current_plan_start,days_subscribed,date_reviewed,pay_freq,level,rating,first_level
0,38538,2022-08-29,229,2023-04-15,Yearly,Premium,2,Free
1,78458,2022-04-11,279,2023-01-15,NaN,Free,5,Standard
2,16139,2022-01-19,422,2023-03-17,NaN,Free,3,Premium
3,88142,2022-02-26,454,2023-05-26,Yearly,Standard,3,Standard
4,21901,2022-05-27,84,2022-08-19,NaN,Free,4,Premium
5,27938,2022-02-16,15,2022-03-03,NaN,Free,4,Free
6,66078,2022-02-08,493,2023-06-16,Yearly,Standard,3,Standard

**2. Previewing the last n rows**

We've written a function `endpreview` that returns the last `5` lines of a DataFrame. Add a parameter `n` to this function to return the last `n` lines of a DataFrame, defaulting to `5`.

In [6]:
## YOUR SOLUTION HERE ##
def endpreview(df, n = 5):
    rows = df[-n:]
    return rows

# show test output
endpreview(csat,3)

,review_id,current_plan_start,days_subscribed,date_reviewed,pay_freq,level,rating,first_level
29997,41264,2022-11-16,35,2022-12-21,NaN,Free,4,Free
29998,92534,2022-10-14,12,2022-10-26,Yearly,Standard,3,Premium
29999,48950,2022-02-22,24,2022-03-18,NaN,Free,1,Free

**3. Counting ratings**

We've written a function `stars` that takes a ratings column (like `csat['rating']`) and returns the number of `5` -star ratings. 

Add a parameter named `numstars` to this function. The parameter `numstars` should take a number as input, and count appearances of that number instead of `5`. However, `5` should be the default.

For example, `stars(column=csat['rating'],numstars=4)` should count the number of 4-star ratings in the `csat['rating']` column.

In [7]:
## YOUR SOLUTION HERE ##
def stars(column, numstars = 5):
    # column.value_counts() counts ratings by the number of stars
    # .loc[5] accesses just the count for 5 star ratings
    count = column.value_counts().loc[numstars]
    return count

# show output
stars(column=csat['rating'],numstars=4)

9685