**Setup**

Start by running the cell below to import `pandas` and import the exercise datasets.

In [1]:
import pandas as pd
csat = pd.read_csv('csat.csv')
csat.head()

,review_id,current_plan_start,days_subscribed,date_reviewed,pay_freq,level,rating,first_level
0,38538,2022-08-29,229,2023-04-15,Yearly,Premium,2,Free
1,78458,2022-04-11,279,2023-01-15,NaN,Free,5,Standard
2,16139,2022-01-19,422,2023-03-17,NaN,Free,3,Premium
3,88142,2022-02-26,454,2023-05-26,Yearly,Standard,3,Standard
4,21901,2022-05-27,84,2022-08-19,NaN,Free,4,Premium

**1. Counting 4- and 5-star ratings**

We've written a function `positive` that returns the number of four star and five star reviews as two separate outputs. 

Call `positive` with `csat['rating']` as the input column. Assign the number of four star reviews to the variable `four` and the number of five star reviews to the variable `five`.

In [6]:
def positive(column):
    stars4 = column.value_counts().loc[4]
    stars5 = column.value_counts().loc[5]
    return stars4, stars5

## YOUR SOLUTION HERE ##
four, five = positive(csat['rating'])

# show output
four,five

(9685, 7995)

**2. Returning Minimum and Maximum**

Write a function that
- is named `min_max`
- takes a DataFrame column as input
- outputs `column.min()` followed by `column.max()`

In [7]:
## YOUR SOLUTION HERE ##
def min_max(column):
    min = column.min()
    max = column.max()
    return min, max

# show output
min_max(csat['days_subscribed'])

(0, 790)