**Setup**

Start by running the cell below to import `pandas` and import the exercise datasets.

In [2]:
import pandas as pd
csat = pd.read_csv('csat.csv')
csat.head()

,review_id,current_plan_start,days_subscribed,date_reviewed,pay_freq,level,rating,first_level
0,38538,2022-08-29,229,2023-04-15,Yearly,Premium,2,Free
1,78458,2022-04-11,279,2023-01-15,NaN,Free,5,Standard
2,16139,2022-01-19,422,2023-03-17,NaN,Free,3,Premium
3,88142,2022-02-26,454,2023-05-26,Yearly,Standard,3,Standard
4,21901,2022-05-27,84,2022-08-19,NaN,Free,4,Premium

**1. Summarizing Positive Ratings**

We've provided a function that computes the number of positive ratings (4 or 5 stars). Use a `groupby.apply` to compute this number for each `level`. Assign the result of your code to the variable `level_counts`.

In [3]:
def positive(column):
    # add up the 4 and 5 star ratings
    posRating = column.value_counts().loc[4] + column.value_counts().loc[5]
    # return the total
    return posRating

## YOUR SOLUTION HERE ##
level_counts = csat.groupby('level')['rating'].apply(positive)

# show output
level_counts

level
Free        12636
Premium      2750
Standard     2294
Name: rating, dtype: int64

**2. Calculate Percent Positive** 

Raw counts are often misleading. For example, in the prior checkpoint the number of positive ratings for the `Free` plan is much higher than either paid plan. But this could just be because there are more `Free` users overall. 

We've added a `normalize` parameter to the `positive` function. When `normalize` is `True`, the function will compute the _percent_ of positive ratings for each group, not the raw count. 

Use a `groupby.apply` with this parameter to compute the percentage of positive ratings for each `level`. Assign the result to `level_percents`.

In [6]:
def positive(column,normalize):
    # add up the 4 and 5 star ratings
    posRating = column.value_counts().loc[4] + column.value_counts().loc[5]
    
    if normalize:
        # if normalize is True, calculate percentages
        # len(column) is the total number of ratings in the ratings column
        posRating = posRating / len(column)
    
    # output
    return posRating

## YOUR SOLUTION HERE ##
level_percents = csat.groupby('level')['rating'].apply(positive, normalize = True)

# show output
level_percents

level
Free        0.705016
Premium     0.597956
Standard    0.306767
Name: rating, dtype: float64